<div class="container">
  <div class="login-panel">
    <h1>Anmelden</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="input">
        <label for="username">Benutzername:</label><br>
        <input type="text" formControlName="username" id="username">
      </div>
      <div class="input">
        <label for="password">Passwort:</label><br>
        <input type="password" formControlName="password" id="password">
      </div>

      <p *ngIf="!loginForm.valid" class="error">Bitte geben Sie Benutzername und Passwort an.</p>
      <p *ngIf="credentialsInvalid" class="error">Die Kombination aus Benutzername und Passwort ist falsch.</p>

      <button type="submit" class="primary" [disabled]="!loginForm.valid">Anmelden</button>
    </form>
  </div>
</div>
