<div class="pagination">
  <button class="pagination-btn" (click)="firstPage()">
    <span class="material-symbols-outlined">first_page</span>
  </button>
  <button class="pagination-btn" [disabled]="!pagination?.prevPageUrl" (click)="prevPage()">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>
  <div>
    Seite {{ getPrintableCurrentPage() }} von {{ getPrintableMaxPage() }}
  </div>
  <button class="pagination-btn" [disabled]="!pagination?.nextPageUrl" (click)="nextPage()">
    <span class="material-symbols-outlined">arrow_forward</span>
  </button>
  <button class="pagination-btn" (click)="lastPage()">
    <span class="material-symbols-outlined">last_page</span>
  </button>
</div>
