.pagination {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;

  .pagination-btn {
    cursor: pointer;
    border: 1px solid transparent;
    transition-duration: 400ms;
    padding: 5px;
  }

  .pagination-btn:hover {
    border: 1px solid grey;
    border-radius: 3px;
  }
}
