//$color-primary: #a2dd00;
$color-primary: #042940;


$color-text-dark: #0D0D0D;
$color-text-light: #f0f0f0;
$color-background: #ffffff;
$color-error: #A62B1F;

$color-neagtive: #A62B1F;
$color-positive: #84B026;

$font-heading: "Lucida Handwriting", sans-serif;
